@model RandomApplications.Response.ApplicationsResponse

@{
    ViewBag.Title = "Список заявок";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список заявок</h2>

<p>
    @Html.ActionLink("Создать заявку", "Create")
</p>

<table class="table">
    @using (Html.BeginForm())
    {
        <tr>
            <th>
                @Html.DropDownList( "status", Model.Statuses, new {@class = "form-control"})
            </th>
            <th>
                @Html.TextBoxFor(model => model.DateFrom, new { type = "date" })
            </th>
            <th>
                @Html.TextBoxFor(model => model.DateTo, new { type = "date" })
            </th>
            <th>
                <input type="submit" value="Применить" />
            </th>
        </tr>
    }

        <tr>
            <th>
            Название
            </th>
            <th>
            Описание
            </th>
            <th>
            Статус
            </th>
            <th>
            Дата изменения
            </th>
            <th></th>
        </tr>
    @foreach (var app in Model.Apps)
    {
        var statusName = app.Status.GetDisplayName();
        <tr>
            <td>
                @Html.DisplayFor(appsItem => app.Title, new { htmlAttributes = new { @class = "col-md-12" } })
            </td>
            <td>
                @Html.DisplayFor(appsItem => app.Description, new { htmlAttributes = new { @class = "col-md-12" } })
            </td>
            <td>
                
                    @Html.DisplayFor(appsItem => statusName, new { htmlAttributes = new { @class = "col-md-6" } })
            </td>
            <td>
                @Html.DisplayFor(appsItem => app.DateModify, new { htmlAttributes = new { @class = "col-md-6" } })
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = app.Id })
            </td>
        </tr>
    }

</table>
