@using RandomApplications.Models
@model IEnumerable<RandomApplications.Models.BaseApplication>

@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список заявок</h2>

<p>
    @Html.ActionLink("Создать заявку", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DropDownList("Статус",
                EnumHelper.GetSelectList(typeof(Status)) ,
                "Выберите статус",
                new { @class = "form-control" })
        </th>
        <th>
            @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstOrDefault().DateModify, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstOrDefault().DateModify, "", new { @class = "text-danger" })
            </div>
        </th>
        <th>
            <div class="form-group">
                @Html.LabelFor(model => model.FirstOrDefault().DateModify, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstOrDefault().DateModify, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstOrDefault().DateModify, "", new { @class = "text-danger" })
                </div>
            </div>
        </th>
        <th></th>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            <!--@Html.DisplayNameFor(model => model.Title)-->
            Название
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.Description)-->
            Описание
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.StatusId)-->
            Статус
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Reverse())
    {
        var statusTitle = string.Empty;
        switch (item.StatusId)
        {
            case 0:
                statusTitle = "Открыта";
                break;
            case 1:
                statusTitle = "Решена";
                break;
            case 2:
                statusTitle = "Возврат";
                break;
            case 3:
                statusTitle = "Закрыта";
                break;
            default:
                statusTitle = "Неизвестна";
                break;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @statusTitle
            </td>
            <td>
                @Html.ActionLink("Подробно", "Details", new { id = item.Id }) |
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
